
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css" />
</head>
<body>
    <div class="row"> 
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">面板1</div>
                <div class="panel-body"> something</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">面板1</div>
                <div class="panel-body"> something</div>
            </div>
        </div>
    </div>
</body>
</html>
