@model IEnumerable<GlsunView.Domain.AlarmInformation>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>CardAlarm</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
            font-family: Arial, Microsoft YaHei, SimSun, Tahoma, Helvetica, "\5b8b\4f53", sans-serif;
        }

        table {
            color: #444;
            border: 0;
            width: 100%;
            border-collapse: collapse;
            background-color: #edf5ff;
        }

        thead {
            background-color: #445577;
            color: #eee;
        }

            tbody td, thead th {
                padding: 2px 0px;
            }

        tbody td {
            text-align: center;
            border-top: solid 1px #ccc;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>告警级别</th>
                <th>告警内容</th>
                <th>告警时间</th>
            </tr>
        </thead>
        @foreach (var e in Model)
        {
            <tr>
                <td>
                    @switch (e.AILevel)
                    {
                        case "CRITICAL":
                            @:严重
                                    break;
                        case "MAJOR":
                            @:重要
                                    break;
                        case "MINOR":
                            @:次要
                                    break;
                        case "WARN":
                            @:警告
                                    break;
                        case "NORMAL":
                            @:正常
                                    break;
                        default: break;
                    }
                </td>
                <td>@e.AIContent</td>
                <td>@e.AITime</td>
            </tr>
        }
        <tbody></tbody>
    </table>
</body>
</html>
