
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<div class="error-page">
    <h2 class="headline text-red">404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> 抱歉! 页面没有找到！</h3>

        <p>
            请确保输入了正确的地址。
        </p>
    </div>
</div>
<style>
    .text-red {
        color: #f39c12;
    }

    .error-content p a {
        color: #f39c12;
        font-weight: bold;
    }
</style>



