@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>机器码：@ViewBag.MachineNumber</h3>
    <p style="color:red;">网站许可证异常：@Model</p>
</body>
</html>
