.alertBox{
    position:absolute;  
    top:50%;            
    left:50%; 
    margin:-100px 0 0 -150px;     
    width:300px;                             
    z-index:99; 
    text-align:center;
    display:none;
    padding:15px;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0.9;
}
.alert-failure{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}