.leftMenu{
    border:1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    width:200px;
    height:100%;
    font-size:1em;
    overflow-x:hidden;
    overflow-y: overlay;
    position:relative;
    left:-1px;
}
.leftMenu::-webkit-scrollbar {
    display: none;
}
.leftMenu>ul>li .menu-icon{
    width:25px;
    font-size:20px;
    position:relative;
    top:1px;
    margin-left:5px;
}
.leftMenu ul li{
    border-top: 1px solid #ccc;
    background-color: #eaeaea;
    display:block;
    position:relative;
}
.leftMenu>ul>li>a{
    padding-left: 3px;
}
.leftMenu>ul>li>a:hover::before{
    display: block;
}
.leftMenu>ul>li>a::before{
    display: none;
    content:'';
    width:3px;
    max-width: 3px;
    height: 1.8em;
    background-color: #457;
    position: absolute;
    left: 0;
    top: -1px;
}

.leftMenu ul li.selected{
    background-color: #bcbcbc;
}
.leftMenu ul li img{
    height: 20px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.leftMenu ul li ul li{
    font-size: 0.9em;
    background-color: #fff;
}
.leftMenu ul li a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: block;
    line-height: 29px;
    -webkit-transition:background-color .4s ease-in;
	-moz-transition:background-color .4s ease-in;
	transition:background-color .4s ease-in;
    position:relative;
}
.leftMenu ul li a:hover{
    cursor: pointer;
    color:#457;
    background-color: #fff;
}
.leftMenu ul li ul li a:hover{
    background-color: #eee;
}
/*.leftMenu>ul>li a:hover{
    color:#457;
    background-color: #fff;
}*/
.leftMenu ul li ul li a{
    padding-left: 25px;
    line-height: 1.6em;
}
.leftMenu ul li ul li ul li a{
    padding-left: 45px;
}
.leftMenu>ul>li:last-child{
    border-bottom: 1px solid #ccc;
}
.fa-angle-right{
    float:right;
    line-height: 1.6em;
}
.right-tag{
    font-size: 0.8em;
    float:right;
    height: 1.6em;
    line-height: 1.6em;
    position:relative;
    top:0.4em;
}
.right-tag::before{
    content: "\f0fe";
}
.expanded-Arrow::before{
    content: "\f146";
}
/*Ê÷Ö¦*/
.leftMenu ul li ul li a:before{
    content: '';
    width: 10px;
    height: 14px;
    border: 1px dotted black;
    position: absolute;
    top: 0px;
    left: 18px;
    border-style: none none dotted none;
}
.leftMenu ul li ul li ul li a:before{
    left: 35px;
}
.leftMenu ul li ul li ul li:last-child a:before{
    border-left-style: dotted;
}
.leftMenu ul ul li::after{
    position: absolute;  
    content: '';  
    top: 0;  
    left: 18px;  
    bottom: 0;  
    border: 1px dotted black;
    border-style: none none none dotted;
}
.leftMenu ul ul ul li::after{
    left:35px;
}
.leftMenu ul ul ul li:last-child:after{
    border-left-style: none;
}