
.tab{
    font-size: 0.9em;
}
.tab-header{
    color:#444;
    border:1px solid #cccccc;  
    background-color: #eaeaea;
    border-bottom:0;
    height:30px;
    overflow: hidden;
    display: block;
    position: relative;
    left: 0px;
}
.tab-header-right{
    width: auto;
    height: 100%;
    border:1px solid #cccccc;  
}
.tab-header ul{
    overflow: hidden;
    position: absolute;
    height: 30px;
    left:20px;
    right:20px;
}
.tab-header ul li{
    float: left;
    white-space: nowrap;
    list-style: none;
    width:auto;
    height:30px;
    padding-left: 5px;
    line-height: 30px;
    position: absolute;
    top:0px;
    z-index: 1;
    border-left: 1px solid #ccc;
}
.tab-header ul li.fixed{
    padding-right: 5px;
}
.tab-header ul .selected{
    background-color:#fff;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #fff;
    border-top: 0;
    
}
.tab-header ul .selected a span{
    font-weight: bold;
}
.tab-header ul li a{
    color:#444;
    display: block;
    text-decoration: none;
}
.selected a:hover{
    color:#444;
    cursor:default;
}
.tab-header ul li:hover{
    background-color: #fff;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    z-index:0;
}
.tab-header ul .selected:hover{
    z-index: 1;
}
.tab-header a i.close{
    font-size: 0.8em;
    display: none;
    position: relative;
    top:-8px;
}
.tab-header .selected a i.close{
    display: inline-block;
}
.tab-header .selected a i.close:hover{
    color:red;
    cursor: pointer;
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
.tab-content{
    border:1px solid #ccc;
    border-left: 0;
    border-bottom: 0;
    padding: 2px;
    position:absolute;
    top:30px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index: 0;
}
.tab-content div{
    height: 100%;
}
.tab-content-frame{
    width: 100%;
    height: 100%;
    border:0;
}
.nav{
    height: 50px;
}
.blank-placeholder{
    font-size: 0.8em;
    display: inline-block;
}
.selected .blank-placeholder{
    display: none;
}
#scroll-header-left{
    width:20px;
    float:left;
    text-align: center;
}
#scroll-header-right{
    width:20px;
    float:right;
    text-align: center;
}
#scroll-header-left i{
    line-height: 30px;
}
#scroll-header-right i{
    line-height: 30px;
}
.tab-header .more-header{
    color:#444;
    cursor:pointer;
    display: block;
}
.tab-header .less-header{
    color:#aaa;
    display: none;
}
.tab-contextmenu{
    margin: 0;
    padding: 0;
    list-style: none;
    border:1px solid #c3ced5;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ccc;
    font-size: 14px;
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 2;
}
.tab-contextmenu li{
    height: 25px;
    line-height: 25px;
    padding: 0px 10px 0 8px;
    cursor: pointer;
}
.tab-contextmenu li.disable{
    color: #999;
}
.tab-contextmenu li.disable:hover{
    cursor: default;
    background-color: transparent;
}
.tab-contextmenu li:hover{
    background-color: #d9e7f2;
}